---
import Carrousel from '../components/Carrousel.astro';
import Layout from '../layouts/Layout.astro';
import WhyUs from '../components/WhyUs.astro';
import WeProducts from '../components/WeProducts.astro';
import CallToAction from '../components/CallToAction.astro';
import {Gallery} from '../components/Gallery';
import { GalleryMaterials } from '../components/GalleryMaterials';
---

<Layout>
	<main class="mt-20.5">
		<!-- NavBar -->

		<Carrousel />

		<WeProducts />
		
		<WhyUs />
		
		<CallToAction />
		
		<Gallery client:load/>
		
		<GalleryMaterials client:load />

		<!-- Testimonios -->

		<!-- Llamado a la acción de nuevo -->
	</main>
</Layout>
