---
import Carrousel from '../components/Carrousel.astro';
import Layout from '../layouts/Layout.astro';
import WhyUs from '../components/WhyUs.astro';
import WeProducts from '../components/WeProducts.astro';
import CallToAction from '../components/CallToAction.astro';
import { Gallery } from '../components/Gallery';
import { GalleryMaterials } from '../components/GalleryMaterials';
import { Testimonials	 	} from '../components/Testimonials';
---

<Layout>
	<main class="md:mt-20.5">
		<Carrousel />

		<WeProducts />
		
		<WhyUs />
		
		<CallToAction />
		
		<Gallery client:load/>
		
		<GalleryMaterials client:load />
		
		<!-- Testimonios -->
		<Testimonials client:load />
		
		<!-- Llamado a la acción de nuevo -->
		<CallToAction />
	</main>
</Layout>
