---
import { GalleryMaterials } from "../components/GalleryMaterials";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="mt-20.5">
    <GalleryMaterials client:load/>
  </div>
</Layout>