---
import { Testimonials } from "../components/Testimonials";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="mt-20.5">
    <!-- Testimonios -->
    <Testimonials client:load />
  </main>
</Layout>