<header class="bg-white shadow-md block md:fixed w-full z-50 ">
  <nav class="flex flex-col md:flex-row gap-2 justify-between items-center md:w-[95vw] lg:max-w-7xl mx-auto p-4 relative">
    <a href="/" class="flex items-center">
      <h1 class="text-5xl text-black font-bold">
        ADM
      </h1>
      <div class="flex flex-col justify-center">
        <p class="font-semibold text-xl leading-5">Muebles</p>
        <p class="font-semibold text-xl leading-5">De Diseño</p>
      </div>
    </a>
    
    <ul class="flex flex-col md:flex-row  md:gap-4">
      <li><a href="/" class="block text-center text-gray-700 hover:text-amber-900 transition-colors duration-300">Inicio</a></li>
      <li><a href="/muebles" class="block text-center text-gray-700 hover:text-amber-900 transition-colors duration-300">Muebles</a></li>
      <li><a href="/materiales" class="block text-center text-gray-700 hover:text-amber-900 transition-colors duration-300">Materiales</a></li>
      <li><a href="/#contacto" class="block text-center text-gray-700 hover:text-amber-900 transition-colors duration-300">Contacto</a></li>
      <li><a href="/testimonios" class="block text-center text-gray-700 hover:text-amber-900 transition-colors duration-300">Testimonios</a></li>
    </ul>
  </nav>
</header>

<style>
  @media (min-width: 768px) {
    header {
      animation: header-blur-scroll 0.5s linear both;
      animation-timeline: scroll();
      animation-range: 0 400px;
      border-bottom: 2px solid rgba(145, 0, 0, 0.3);
    }
  }
  header {
    border-bottom: 2px solid rgba(200, 0, 0, 1);
    background-color: white;
  }
  @keyframes header-blur-scroll {
    0% {
      backdrop-filter: blur(0px);
      border-bottom-color: rgba(179, 0, 0, 0.7);
    }

    100% {
      backdrop-filter: blur(10px);
      background: rgba(255, 255, 255, 0.4);
      border-bottom-color: rgb(179, 0, 0);
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
</style>