<div class="max-w-7xl mx-auto p-2 md:p-4 ">
  <section class="flex flex-col-reverse lg:flex-row md:gap-4">
    <div class="w-full lg:w-2/5 lg:h-[75vh] flex flex-col justify-center bg-slate-200/50 p-2 py-4 md:p-4 text-lg md:text-xl font-extralight	">
      <h1 class="text-4xl md:text-5xl font-normal mb-4">Nuestros Productos</h1>
      <p>
        En <span class="font-semibold text-red-800">ADM Muebles</span>, creemos que cada espacio merece una solución única. Nuestra pasión por el diseño y la <span class="font-semibold text-red-800">calidad</span> nos lleva a crear muebles que no solo funcionan, sino que también reflejan el estilo de vida de cada cliente.
      </p>

      <p>
        Ofrecemos una amplia gama de <span class="font-semibold text-red-800">muebles de diseño</span>, desde placares con puertas corredizas hasta impresionantes mesas. Cada pieza está pensada para adaptarse a tus necesidades y gustos, creando espacios que reflejan tu personalidad.
      </p>

      <p>Hacemos <span class="font-semibold text-red-800">presupuestos sin cargo</span>.</p>
      <p>
        También realizamos <span class="font-semibold text-red-800">diseños 3D</span> para que puedas visualizar el resultado final y tener una idea clara de cómo será tu nuevo mueble.
      </p>
    </div>
    <div class="w-full  lg:w-3/5">
      <img src="/muebles/mueble-2.jpg" alt="mueble-2" class="w-full md:h-[50vh] lg:h-[75vh] object-cover" loading="lazy"/>
    </div>
  </section>
</div>
